%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => $title &>

<& /Elements/Tabs &>

<& /Elements/ListActions, actions => \@results &>

 
<form method="post" action="People.html">
<input type="hidden" class="hidden" name="id" value="<%$QueueObj->Id%>" />

<table width="100%">
<tr>
<td valign="top" >

<h3><&|/l&>Current watchers</&></h3>

<i><&|/l&>(Check box to delete)</&></i><br /><br />

% for my $Name ($QueueObj->ManageableRoleGroupTypes) {
    <& /Admin/Elements/EditQueueWatcherGroup,
        Label    => loc($QueueObj->LabelForRole($Name)),
        QueueObj => $QueueObj,
        Watchers => $QueueObj->RoleGroup($Name, CheckRight => 'SeeQueue')
    &>
% }

% $m->callback(CallbackName => 'CurrentWatchers', QueueObj => $QueueObj);

</td>
<td valign="top">
<h3><&|/l&>New watchers</&></h3>

<&|/l&>Find people whose</&><br />
<& /Elements/SelectUsers &>
<input type="submit" class="button" name="OnlySearchForPeople" value="<&|/l&>Go!</&>" />
<br />
<&|/l&>Find groups whose</&><br />
<& /Elements/SelectGroups &>
<input type="submit" class="button" name="OnlySearchForGroup" value="<&|/l&>Go!</&>" />

<p>
<&|/l&>Add new watchers</&>:<br />
<p>
<strong><&|/l&>Users</&></strong>
% if ($user_msg) {
<br />
<em><%$user_msg%></em>
% } elsif ($Users) {
<ul>
% while (my $u = $Users->Next ) {
<li><& /Elements/SelectWatcherType,
    Scope => 'queue',
    Name  => "Queue-AddWatcher-Principal-". $u->PrincipalId,
    Queue => $QueueObj,
&>
<& /Elements/ShowUser, User => $u &></li>
% }
</ul>
% }

<p>
<strong><&|/l&>Groups</&></strong>

% if ($group_msg) {
<br />
<em><%$group_msg%></em>
% } elsif ($Groups) {
<ul>
% while (my $g = $Groups->Next ) {
<li><& /Elements/SelectWatcherType,
    Scope => 'queue',
    Name  => "Queue-AddWatcher-Principal-".$g->PrincipalId,
    Queue => $QueueObj,
&>
<%$g->Name%> (<%$g->Description%>)
% }
</ul>
% }

</td>
</tr>
</table>




<& /Elements/Submit, Label => loc('Save Changes'), Caption => loc("If you've updated anything above, be sure to"), Reset => 1 &>
</form>

<%INIT>

my ($field, @results, $User, $Users, $Groups, $watcher, $user_msg, $group_msg);

my $QueueObj = RT::Queue->new($session{'CurrentUser'});
$QueueObj->Load($id) || Abort(loc("Couldn't load queue", $id));

unless ($OnlySearchForPeople or $OnlySearchForGroup) {
# Delete deletable watchers

    foreach my $key (keys %ARGS) {
            my $id = $QueueObj->Id;

        if (($key =~ /^Queue-$id-DeleteWatcher-Type-(.*?)-Principal-(\d*)$/)) {;
            my ($code, $msg) = $QueueObj->DeleteWatcher(Type => $1,
                                                        PrincipalId => $2);
            push @results, $msg;
        }
    }

# Add new watchers
    foreach my $key (keys %ARGS) {
        my $type = $ARGS{$key};

        next unless $key =~ /^Queue-AddWatcher-Principal-(\d*)$/;
        my $id = $1;

        next unless $QueueObj->IsManageableRoleGroupType($type);

        my ($code, $msg) = $QueueObj->AddWatcher(
            Type => $type,
            PrincipalId => $id,
        );
        push @results, $msg;
    }
}
 

if ( $ARGS{'UserString'} ) {
    $Users = RT::Users->new( $session{'CurrentUser'} );
    $Users->Limit( FIELD    => $ARGS{'UserField'},
                   VALUE    => $ARGS{'UserString'},
                   OPERATOR => $ARGS{'UserOp'}
                 );
} else {
    $user_msg = loc("No principals selected.");
    }

if ( $ARGS{'GroupString'} ) {
    $Groups = RT::Groups->new( $session{'CurrentUser'} );
    $Groups->LimitToUserDefinedGroups;
    $Groups->Limit( FIELD    => $ARGS{'GroupField'},
                    VALUE    => $ARGS{'GroupString'},
                    OPERATOR => $ARGS{'GroupOp'},
                    CASESENSITIVE => 0,
                  );
} else {
    $group_msg = loc("No principals selected.");
}
my $title = loc('People related to queue [_1]', $QueueObj->Name);
</%INIT>

<%ARGS>
$OnlySearchForPeople => undef
$OnlySearchForGroup => undef
$UserField => 'Name'
$UserOp => '='
$UserString => undef
$GroupField => 'Name'
$GroupOp => '='
$GroupString => undef
$Type => undef
$id => undef
</%ARGS>

