%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => $title &>
<& /Elements/Tabs &>
<h1><% $caption %></h1>

<form method="post" action="<% RT->Config->Get('WebPath') %>/Admin/Groups/index.html">
<input type="hidden" name="GroupField" value="Name" />
<input type="hidden" name="GroupOp" value="LIKE" />
<&|/l&>Go to group</&>
<input type="text" name="GroupString" value="" data-autocomplete="Groups" id="autocomplete-GroupString" />
<script type="text/javascript">
jQuery(function(){
    // Jump directly to the page if a group is chosen
    jQuery("#autocomplete-GroupString").on("autocompleteselect", function( event, ui ) {
        document.location = RT.Config.WebPath + "/Admin/Groups/Modify.html?id=" + ui.item.id;
    });
});
</script>
</form>

<form method="post" action="<% RT->Config->Get('WebPath') %>/Admin/Groups/index.html" name="GroupsAdmin">
<&|/l&>Find groups whose</&> <& /Elements/SelectGroups,
        GroupField      => $GroupField,
        GroupOp         => $GroupOp,
        GroupString     => $GroupString,
&><br />
<&|/l&>And groups whose</&> <& /Elements/SelectGroups,
        SelectFieldName => 'GroupField2',
        SelectOpName    => 'GroupOp2',
        InputStringName => 'GroupString2',
        GroupField      => $GroupField2,
        GroupOp         => $GroupOp2,
        GroupString     => $GroupString2,
&><br />
<&|/l&>And groups whose</&> <& /Elements/SelectGroups,
        SelectFieldName => 'GroupField3',
        SelectOpName    => 'GroupOp3',
        InputStringName => 'GroupString3',
        GroupField      => $GroupField3,
        GroupOp         => $GroupOp3,
        GroupString     => $GroupString3,
&><br />
<input type="checkbox" class="checkbox" id="FindDisabledGroups" name="FindDisabledGroups" value="1" <% $FindDisabledGroups? 'checked="checked"': '' |n %> />
<label for="FindDisabledGroups"><&|/l&>Include disabled groups in listing.</&></label><br />
<div align="right"><input type="submit" class="button" name="Go" value="<&|/l&>Go!</&>" /></div>
</form>

% unless ( $Groups->Count ) {
<em><&|/l&>No groups matching search criteria found.</&></em>
% } else {
<p><&|/l&>Select a group</&>:</p>

<& /Elements/CollectionList,
    OrderBy => 'Name',
    Order => 'ASC',
    Rows  => $Rows,
    %ARGS,
    Format => $Format,
    Collection => $Groups,
    AllowSorting => 1,
    PassArguments => [qw(Format Rows Page Order OrderBy GroupString GroupOp GroupField GroupString2 GroupOp2 GroupField2 GroupString3 GroupOp3 GroupField3 FindDisabledGroups)],
&>
% }

<%INIT>
my $Groups = RT::Groups->new($session{'CurrentUser'});
$Groups->LimitToUserDefinedGroups();
my $title = loc('Select a group');
my $caption;

if ($FindDisabledGroups) {
    $Groups->FindAllRows();
}

$caption = loc("Groups matching search criteria");
my @groups = ();
push @groups, { field => $GroupField, op => $GroupOp, string => $GroupString } if length $GroupString;
push @groups, { field => $GroupField2, op => $GroupOp2, string => $GroupString2 } if length $GroupString2;
push @groups, { field => $GroupField3, op => $GroupOp3, string => $GroupString3 } if length $GroupString3;

if ( scalar @groups ) {
    foreach my $group ( @groups ) {
        if ( $group->{'string'} eq 'NULL' ) {
            if ( $group->{'op'} =~ /!=|\bNOT\b/i ) {
                $group->{'op'} = 'IS NOT';
            }
            else {
                $group->{'op'} = 'IS';
            }
        }

        if ( $group->{'field'} =~ /^CustomField-(\d+)/ ) {
            $Groups->LimitCustomField(
                CUSTOMFIELD => $1,
                OPERATOR => $group->{'op'},
                VALUE => $group->{'string'},
                ENTRYAGGREGATOR => 'AND',
            );
        }
        else {
            $Groups->Limit(
                FIELD => $group->{'field'},
                OPERATOR => $group->{'op'},
                VALUE => $group->{'string'},
                CASESENSITIVE => 0,
                ENTRYAGGREGATOR => 'AND',
            );
        }
    }
    RT::Interface::Web::Redirect(RT->Config->Get('WebURL')."Admin/Groups/Modify.html?id=".$Groups->First->id)
          if $Groups->Count == 1 and $Groups->First;
}
else {
    $caption = loc("User-defined groups");
}

$Format ||= RT->Config->Get('AdminSearchResultFormat')->{'Groups'};
my $Rows = RT->Config->Get('AdminSearchResultRows')->{'Groups'} || 50;

</%INIT>
<%ARGS>
$Format => undef,

$GroupString => undef
$GroupOp => undef
$GroupField => 'Name'
$GroupString2 => undef
$GroupOp2 => undef
$GroupField2 => 'Name'
$GroupString3 => undef
$GroupOp3 => undef
$GroupField3 => 'Name'
$FindDisabledGroups => 0
</%ARGS>
