%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /SelfService/Elements/Header, Title => loc('Search Articles') &>

<table>
<form action="<%RT->Config->Get('WebPath')%>/SelfService/Article/Search.html">
<tr>
<td><&|/l&>Search for Articles matching</&></td>
<td><input size=20 name="Articles_Content" /></td>
<td><input type="submit" value="<&|/l&>Search</&>"></td>
</tr>
</form>

<tr>
<td>&nbsp;</td>
<td>
% if ($Articles_Content) {
%   if ($articles_basics->Count || $articles_content->Count) {
<&|/l,$Articles_Content&>Articles matching [_1]</&>
%   } else {
<&|/l,$Articles_Content&>No Articles match [_1]</&>
%   }
% }
</td>
</tr>

% my %dedupe_articles;
% while (my $article = $articles_content->Next) {
%   $dedupe_articles{$article->Id}++;
<tr>
<td>&nbsp;</td>
<td><a href="Display.html?id=<%$article->Id%>"><%$article->Name || loc('(no name)')%>: <%$article->Summary%><a></td>
</tr>
% }

% while (my $article = $articles_basics->Next) {
%   next if $dedupe_articles{$article->Id};
<tr>
<td>&nbsp;</td>
<td><a href="Display.html?id=<%$article->Id%>"><%$article->Name || loc('(no name)')%>: <%$article->Summary%><a></td>
</tr>
% }
</table>
<%init>
use RT::Articles;

my $articles_content = RT::Articles->new( $session{'CurrentUser'} );
my $articles_basics = RT::Articles->new( $session{'CurrentUser'} );
if ( $ARGS{'Articles_Content'} ) {
    $articles_content->LimitCustomField( VALUE => $ARGS{'Articles_Content'},
                                                OPERATOR => 'LIKE' );

    $articles_basics->Limit( SUBCLAUSE       => 'all',
                             FIELD           => 'Name',
                             OPERATOR        => 'LIKE',
                             VALUE           => $ARGS{'Articles_Content'},
                             CASESENSITIVE   => 0,
                             ENTRYAGGREGATOR => "OR" );
    $articles_basics->Limit( SUBCLAUSE       => 'all',
                             FIELD           => 'Summary',
                             OPERATOR        => 'LIKE',
                             VALUE           => $ARGS{'Articles_Content'},
                             CASESENSITIVE   => 0,
                             ENTRYAGGREGATOR => "OR" );
}


</%init>
<%args>
$Articles_Content => ''
</%args>
